<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content page-content" style="padding: 20px">
      <h1>
        Site is Under Construction
      </h1>
      <div>
        <p>We're sorry, the site is currently being worked on</p>
      </div>
    </main>
  {{> footer}}
  </div>
</body>
</html>