<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {{> header}}
  <main class="mdl-layout__content  mdl-grid">
    <p>{{screamIt welcomeMessage}}</p>
  </main>
  {{> footer}}
  </div>
</body>
</html>