<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
  {{> material}}
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {{> header}}
  <main class="mdl-layout__content  mdl-grid">
    <p>{{screamIt welcomeMessage}}</p>
  </main>
  {{> footer}}
  </div>
</body>
</html>