<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {{> header}}
    <main class="mdl-layout__content mdl-grid">
      <main class="mdl-layout__content  mdl-grid">
        <h1>Weather App</h1>
        <button class="mdl-button mdl-js-button mdl-button--raised">
          Button
        </button>
        {{weather}}
      </main>
    </main>
  {{> footer}}
  </div>
</body>
</html>